@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP2184587</h1>
    <p class="lead">ANALISIS Y DESARROLLO DE SISTEMAS DE INFORMACION 2184587</p>
    <p class="lead">CENTRO DE GESTION DE MERCADOS, LOGISTICA Y TECNOLOGIAS DE LA INFORMACION</p>
    <p><a href="https://asp.net" class="btn btn-warning dropdown-toggle">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Administracion de Usuarios</h2>
        <img src="https://www.clicdata.com/wp-content/uploads/2019/01/user-security-management-header.png" alt="Alternate Text" class="img-responsive imgHome" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
        </p>
        <p><a class="btn btn-warning dropdown-toggle" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion de Productos</h2>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzzTmYSUl6FM0P9uWgmukW0HCBz_p9gDskcg&usqp=CAU" alt="Alternate Text" class="img-responsive imgHome" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
        </p>
        <p><a class="btn btn-warning dropdown-toggle" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestion de Proveedores</h2>
        <img src="https://e7.pngegg.com/pngimages/287/446/png-clipart-vendor-management-system-organization-supply-chain-management-business-service-people.png" alt="Alternate Text" class="img-responsive imgHome" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua..
        </p>
        <p><a class="btn btn-warning dropdown-toggle" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>