@{
    ViewBag.Title = "Home Page";
}
<center>
    <div class="jumbotron">
        <h1>ASP2184587</h1>
        <p class="lead">ANALISIS Y DESARROLLO DE SISTEMAS DE INFORMACION 2184587</p>
        <p class="lead">CENTRO DE GESTION DE MERCADOS, LOGISTICA Y TECNOLOGIAS DE LA INFORMACION</p>
    </div>
</center>


<body background="https://www.clicdata.com/wp-content/uploads/2019/01/user-security-management-header.png ">
</body>


